/BasicProjects/.jxbrowser-data
/BasicProjects/.metadata
/BasicProjects/RemoteSystemsTempFiles
*Debug/
*.settings/
/BasicProjects/ARMTimer/.settings
RemoteSystemsTempFiles
.jxbrowser-data
.metadata
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
**/.iml
**/.idea/
**/Release/
